<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>783192734543-cum9599ijjhos3qs3q5vi1g3qdcecija.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.783192734543-cum9599ijjhos3qs3q5vi1g3qdcecija</string>
		<key>ANDROID_CLIENT_ID</key>
		<string>783192734543-j82n1qpb6uvjritk9g32unmm6fijog4s.apps.googleusercontent.com</string>
		<key>API_KEY</key>
		<string>AIzaSyBANXCPzTuILHsd0KVWT7t73bwvgYzbEkk</string>
		<key>GCM_SENDER_ID</key>
		<string>783192734543</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.inora.cangurugestor</string>
		<key>PROJECT_ID</key>
		<string>canguru-6bca1</string>
		<key>STORAGE_BUCKET</key>
		<string>canguru-6bca1.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:783192734543:ios:da9d5de15bf25b30afa33a</string>
	</dict>
</plist>